<footer class="footer">
    <div class="wrap">
        <div class="footer__header">
        </div>
        <div class="footer__content">
            <img class="footer__content-logo" src="/images/logo.png" alt="">
            <div class="footer__content-order-hotline">
                <h3>
                    <i style="margin-right: 6px;" class="material-icons">call</i>
                    Hotline Đặt hàng
                </h3>
                <h1 class="footer__content-hotline">1900 6099</h1>
            </div>
        </div>
    </div>
</footer>