<div class="add__product">
    <div class="wrap">
        <div class="add__product-w">
            <form id="add__product">
                <h1 style="text-align: center;font-weight: bold;">Add Category</h1>
                <label class="label__add" for="name">Name:
                    <input required type="text" id="name" name="name">
                </label>
                <button class="btn__addProduct" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>
<script>
    const
        add__product = document.querySelector('#add__product'),
        inputName = document.querySelector('#name');

    add__product.addEventListener('submit', function (e) {
        e.preventDefault();

        const name = inputName.value;

        const formData = new FormData();
        formData.append('name', name);

        fetch('/add-category', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ name: name })})
            .then(res =>res.json())
            .then(data => {
                alert('Category added successfully!');
                window.location.href = '/Categories'
            })
            .catch(err => {
                console.error(err);
            });
    })
</script>