<div class="add__fruit">
    <div class="wrap">
        <div class="add__fruit-w">
            <form action="/add-distributor" method="post" id="add__fruit">
                <h1 style="text-align: center;font-weight: bold;">Thêm Nhà Phân Phối</h1>
                <label class="label__add" for="name">Tên:
                    <input required type="text" id="name" name="name">
                </label>
                <button class="btn__addFruit" type="submit">Thêm</button>
            </form>
        </div>
    </div>
</div>
<script>
    
</script>