<div class="productsManagement">
    <div class="wrap">
        <div class="pm__header">
            <div class="pm__header-left">
                <a href="/Products">Products</a> |
                <a href="/Distributors">Distributors</a> |
                <a style="text-decoration: underline;"  href="/Categories">Categories</a>
            </div>
            <div class="pm__header-right">
                <a href="/Categories/add-category"><button class="btn__style"><i
                            class="material-icons">add_box</i></button></a>
            </div>
        </div>
        <table style="margin-top: 32px;">
            <thead class="table__thead">
                <tr>
                    <th>STT</th>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody class="table__tbody">
            </tbody>
        </table>
    </div>
</div>
<script src="/javascripts/categoryM.js"></script>