<div class="fruitsManagement">
    <div class="wrap">
        <div class="fm__header">
            <div class="fm__header-left">
                <a style="text-decoration: underline;" href="/Fruits">Sản phẩm</a> |
                <a href="/Distributor">Nhà Phân Phối</a>
            </div>
            <div class="fm__header-right">
                <a href="/Fruits/add-fruit"><button class="btn__style"><i
                            class="material-icons">add_box</i></button></a>
            </div>
        </div>
        <table style="margin-top: 32px;">
            <thead class="table__thead">
                <tr>
                    <th>STT</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Trạng thái</th>
                    <th>Ảnh</th>
                    <th>Mô tả</th>
                    <th>Nhà phân phối</th>
                    <th>Sửa</th>
                    <th>Xóa</th>
                </tr>
            </thead>

            <tbody class="table__tbody">
            </tbody>
        </table>
    </div>
</div>
<script src="/javascripts/fruitM.js"></script>