<div class="productsManagement">
    <div class="wrap">
        <div class="pm__header">
            <div class="pm__header-left">
                <a style="text-decoration: underline;" href="/Products">Products</a> |
                <a href="/Distributors">Distributors</a>
            </div>
            <div class="pm__header-right">
                <a href="/Products/add-product"><button class="btn__style"><i
                            class="material-icons">add_box</i></button></a>
            </div>
        </div>
        <table style="margin-top: 32px;">
            <thead class="table__thead">
                <tr>
                    <th>STT</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Thumbnail</th>
                    <th>Description</th>
                    <th>Distributor</th>
                    <th>Category</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody class="table__tbody">
            </tbody>
        </table>
    </div>
</div>
<script src="/javascripts/productM.js"></script>